*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

input,
button,
textarea,
select {
  font: inherit;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(6, 8rem);
  gap: 1em;
}

.calculator-window {
  grid-column: 1 / span 4;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 4rem;
  background-color: transparent;
  color: limegreen;
  border: 2px solid limegreen;
  padding: 1rem;
}

.btn {
  font-size: 4em;
  background-color: transparent;
  color: limegreen;
  border: 2px solid limegreen;
}

.btn:hover,
.btn:focus {
  background-color: #161616;
}

.btn-clear,
.btn-divide,
.btn-times,
.btn-minus {
  grid-row: 2;
}

.btn-clear {
  font-size: 2em;
  grid-column: 1;
}

.btn-divide {
  grid-column: 2;
}

.btn-plus {
  grid-column: 4;
  grid-row: 3 / span 2;
}

.btn-equals {
  grid-column: 4;
  grid-row: 5 / span 2;
}

.btn-0 {
  grid-column: 1 / span 2;
  grid-row: 6;
}

.btn-decimal {
  grid-column: 3;
  grid-row: 6;
}

.btn:active,
.btn-pressed {
  background-color: limegreen;
  color: black;
}
